
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --color: linear-gradient(
        45deg,
        #845ec2,
        #d65bd1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );
}
.bg-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1e1e2e;
}
.bg-img h1{
    color: #f38ba8;
    font-size: 10vw;
    font-weight: bold;
    letter-spacing: 3px;
}
.search-bar{
    width: 90%;
    max-width: 700px;
    background: #11111b;
    display: flex;
    align-items: center;
    border-radius: 5rem;
    padding: 10px 10px;
    backdrop-filter: blur(4px) saturate(150%);
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 0;
    font-size: 20px;
    color: #f38ba8;
}
::placeholder{
    color: #f38ba8;
}
.search-bar button img{
    width: 25px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #1e1e2e;
}
#hello{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#hello img{
    display: block;
    margin: auto;
    max-height: 20vh;
}
#hello h2{
    color: #f38ba8;
    font-size: 3vw;
}